.env
/venv

node_modules
package-lock.json
dist

# Local env files
.env.local
.env.development.local

/venv/
/backend/.env
/backend/venv/
#testdata folder

test_data

# Ignore Python cache files
__pycache__/
*.pyc
**/__pycache__/
context/
graphify-out/
onrender-doc.md

