asyncio
edge-tts
nest_asyncio
python-dotenv
speechrecognition
langchain-groq
langchain-core
langchain-community
langchain-huggingface
langgraph
pydantic
flask
twilio
flask-cors
pymongo
deepgram-sdk
sentence-transformers
faiss-cpu
pinecone
fitz
pymupdf
wikipedia
flask-socketio
gunicorn
gevent
gevent-websocket
